.Editor{
  display : flex;
  flex-direction : column;
  width : 40%;
  color :var(--primary-text);
  border : 1px solid var(--border-color);
}

#editor_topbar{
  display : flex;
  background-color : var(--secondary-bg);
  font-size : 18px;
  padding : 5px 10px;
}
#editor_topbar p{
  margin-left : 10px;
}

#download_btn{
  margin-left : auto ;
  margin-right : 10px;
  cursor : pointer;
  color : var(--primary-text);
}

.Editor textarea{
  flex : 1;
  resize : none;
  background-color : var(--primary-bg);
  padding : 10px 15px;
  border : none;
  color : var(--primary-text);
  font-size : 16px;
  scrollbar-color  : var(--ternary-bg) transparent;
  scrollbar-width : thin;
}
.Editor textarea:focus{
  outline : none;
}
