:root {
  --primary-bg: hsl(0, 0%, 100%);      
  --secondary-bg: hsl(0, 0%, 80%);
  --ternary-bg : hsl(0, 0%, 75%);
  --hover-bg: hsl(0, 0%, 80%);     
  --active-bg: hsl(0, 25%, 100%);
   

  --primary-text: hsl(0, 0%, 0%);   
  --secondary-text: hsl(0, 0%, 30%); 

  --border-color: hsla(220, 15%, 90%,0.9);   
  --border-strong: hsl(220, 15%, 80%);  

  --accent: hsl(220, 100%, 50%);         
  --accent-hover: hsl(220, 70%, 70%);

  --delete: hsl(0, 100%, 50%);
  --code :  hsl(0, 0%, 100%);       
  --pill : hsl(0, 30%, 60%);    
}

.theme {
  --primary-bg: hsl(0, 0%, 10%);
  --secondary-bg: hsl(0, 0%, 20%);
  --ternary-bg : hsl(0, 0%, 60%);
  --hover-bg: hsl(0, 0%, 30%);
  --active-bg: hsl(0, 0%, 10%);

  --primary-text: hsl(0, 0%, 100%);
  --secondary-text: hsl(0, 0%, 40%);

  --border-color: hsl(0, 0%, 20%, 0.9);
  --border-strong: hsl(0, 0%, 30%);

  --accent: hsl(220, 70%, 60%);
  --accent-hover: hsl(220, 70%, 65%);

  --delete: hsl(0, 100%, 50%);
  --code : hsl(0, 0%, 100%);
  --pill : hsl(0, 30%, 60%); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display : flex;
  font-family : arial;
}


/* styling of Editor */ 
.Editor{
  display : flex;
  flex-direction : column;
  width : 40%;
  color :var(--primary-text);
  border : 1px solid var(--border-color);
}

#editor_topbar{
  display : flex;
  background-color : var(--secondary-bg);
  font-size : 18px;
  padding : 5px 10px;
}
#editor_topbar p{
  margin-left : 10px;
}

#download_btn{
  margin-left : auto ;
  margin-right : 10px;
  cursor : pointer;
  color : var(--primary-text);
}

.Editor textarea{
  flex : 1;
  resize : none;
  background-color : var(--primary-bg);
  padding : 10px 15px;
  border : none;
  color : var(--primary-text);
  font-size : 16px;
  scrollbar-color  : var(--ternary-bg) transparent;
  scrollbar-width : thin;
}
.Editor textarea:focus{
  outline : none;
}

/* Styling of preview*/
.Preview{
  width : 40%;
  display : flex;
  flex-direction : column;
  height : 100%;
  overflow : hidden;
  color : var(--primary-text);
  border : 1px solid var(--border-color);
}

#preview_topbar{
  display : flex;
  background-color : var(--secondary-bg);
  font-size : 18px;
  padding : 5px 10px;
}
#preview_topbar p{
  margin-left : 10px;
}

#export_pdf{
  margin-left : auto;
  margin-right : 10px;
  color : var(--primary-text);
  cursor : pointer;
}

#preview_area{
  background-color : var(--primary-bg);
  padding : 10px 15px;
  display : flex;
  flex-direction : column;
  height : 100%;
  overflow-y : auto;
  min-height : 0;
  scrollbar-color  : var(--ternary-bg) transparent;
  scrollbar-width : thin;
}

#preview_area h1{
  border-bottom: 1px solid var(--secondary-text);
  margin: 5px 0 10px 0px;
  padding-top : 10px;
  padding-bottom : 10px;
}

#preview_area h2, #preview_area h3 { 
  margin: 5px 0 5px 0px;
  padding-top : 10px;
  padding-bottom : 10px;
  border-bottom : 1px solid var(--secondary-bg)
}



#preview_area p { 
  line-height: 1.6; 
  margin : 0px 0px 0px 0px; 
  padding-top : 5px; 
  padding-bottom : 5px;
  overflow-wrap  : break-word; 
}

#preview_area code { 
  background: var(--code); 
  color : black;
  padding: 2px 0px; 
  border-radius: 4px; 
  line-height: 1.6; 
  font-size : 14px;
  font-family : monospace;
  margin-bottom : 10px;
}

#preview_area pre {
  background: var(--code);
  border : 3px solid var(--border-strong); 
  padding: 10px 30px; 
  border-radius: 6px;
  margin : 10px 0px 10px 0px;
}

#preview_area blockquote {
  border-left: 3px solid var(--border-strong); 
  padding-left: 10px; 
  color: var(--secondary-text); 
  margin-top : 15px;
}

#preview_area a{
  color :var(--accent); 
  margin : 3px;
}

#preview_area a:hover{
  color : var(--accent-hover);
}

#preview_area ul, #preview_area ol {
  padding-left: 30px;
  margin-bottom: 10px;
}

#preview_area ul {
  list-style-type: disc;
}

#preview_area ol {
  list-style-type: decimal;
}

#preview_area li {
  margin-bottom: 4px;
  line-height: 1.6;
}

#preview_area table {
  border-collapse: collapse;
  width: 100%;
  margin-top : 15px;
  margin-bottom : 15px;
}

#preview_area th,
#preview_area td {
  border: 1px solid var(--border-color);
  padding: 8px 12px;
  text-align: center;
}

#preview_area th {
  background: var(--secondary-bg);
  border: 1px solid var(--border-strong);
  font-weight: 500;
  color: var(--primary-text);
}


/* Styling of Sidebar */
.Sidebar{
  height : 100%;
  width : 20%;
  border : none;
  color : var(--primary-text);
  background-color : var(--secondary-bg);
  display :flex;
  flex-direction : column;
}
#header{
  display : flex;
  padding : 20px 10px;
  align-items : center; 
  justify-content : space-evenly;
  border : 1px solid var(--border-color);
}

#header p{
  margin-left  : 0px;
  font-size : 30px;
  text-decoration : bold; 
}

#controls{
  display : flex;
  margin-left :auto;
}

#controls button {
  font-size : 20px;
  border-radius : 10px; 
  color : var(--primary-text);
  background-color : var(--primary-bg);
  border : 1px solid var(--broder-color);
  cursor : pointer;
  transition : transform 0.3s ease-in-out;
  align-items : center;
  padding : 8px;
}
#theme{
  display : flex;
  margin-left : 5px;
}
#controls #create{
  display : flex;
}

#header button:hover{
  background-color : var(--hover-bg);
  transform : scale(1.05);
}

#search_bar{
  width : 100%;
  padding : 5px 10px;
  font-size : 18px;
  background-color : var(--secondary-bg);
  border : 1px solid var(--border-strong);
  border-left : none;
  border-right : none;
  color : var(--primary-text);
}
#search_bar:focus{
  outline : 1px solid var(--border-color);
}


#notes_container{
  display : flex;
  flex-direction : column;
  border :none;
  overflow : auto;
  scrollbar-color : var(--ternary-bg) transparent;
  scrollbar-width : thin;
}

#notes_container #note{
  border : 1px solid var(--border-color);
  padding : 10px 20px;
  font-size : 20px;
  display : flex;
  align-items : center;
  transition : 0.3s ease-out;
}
#note:hover{
  background-color : var(--hover-bg);
}

#notes_container #active_note{
  border : none;
  padding : 10px 20px;
  font-size : 20px;
  background-color : var(--active-bg);
  display : flex;
  align-items : center;
  #edit_options{
    display : flex;
  }
  #tag_pill{
    background-color : var(--pill);
  }
  transition : background-color 0.5s ease-in-out;
}

#updated_time{
  font-size : 14px;
  color : var(--secondary-text);
  margin-top : 1px;
}

#tags{
  font-size : 16px;
  color : var(--secondary-text);
}

#edit_options{
  margin-left : auto;
  display : none;
  align-items : center;
}

#delete_btn{
  color : var(--primary-text);
  border : none;
  cursor : pointer;
  margin :5px;
  font-size : 18px;
  transition : transform 0.3s ease-in-out;
}
#delete_btn:hover{
  color : var(--delete);
  transform : scale(1.1);
}

#rename_btn{
  color : var(--primary-text);
  border : none;
  cursor : pointer;
  margin-left : auto;
  font-size : 25px;
  margin :5px;
  transition : transform 0.3s ease-in-out;
}

#rename_btn:hover{
  color : var(--accent-hover);
  transform : scale(1.1);
}

#rename_title{
  padding : 0px 10px;
  width : 60%;
  margin-bottom : 5px;
  background-color : var(--secondary-bg);
  border-radius : 5px;
  border : 1px var(--border-strong);
}

#rename_title:focus{
  outline : 1px solid  var(--border-strong);
  color : var(--primary-text);
  font-size : 20px;
}

#tag_container{
  display: flex;
  flex-wrap : wrap;
  gap: 4px;
  margin-top: 4px;
}

#tag_pill{
  font-size: 15px;
  padding: 2px 8px;
  border-radius: 10px;
  background-color: var(--pill);
  color: var(--primary-color);
  cursor : pointer;
}

#selected_tag{
  display : flex;
  padding : 5px 20px;
  background-color : var(--secondary-bg);
}

#selected_tag p{
  margin-right : 10px;
}

#selected_tag #tag_pill{
  background-color : var(--primary-bg);
  color : var(--primary-text);
  display : flex;
  align-items : center;
}

#remove_btn{
  color : var(--delete);
  margin-left : 5px;
  font-size : 12px;
}

.nav_btns{
  margin-right : 10px;
  display : flex;
  padding : 8px;
  align-items : center;
  background-color : var(--secondary-bg);
  border-radius : 10px;
  color : var(--primary-text);
  font-size : 20px;
  border : none;
}

#theme_Mobile_active{
  margin-left : auto;
  display : flex;
  padding : 8px;
  align-items : center;
  background-color : var(--secondary-bg);
  border-radius : 10px;
  color : var(--primary-text);
  font-size : 20px;
  border : none;
}

/* making responsive */

#mobile_btns {
  display : none;
}

@Media (max-width : 768px){
  
  #root{
    flex-direction : column;
  }
  #theme{
    display : none;
  }

  #mobile_btns {
    display : flex;
    padding : 10px;
    align-items : center;
    width : 100%;
    background-color : var(--primary-bg);
  }

  #active{
    background-color : var(--secondary-bg);
  }

  .Sidebar, .Editor, .Preview{
    display : none;
  }

  #Sidebar, #Editor, #Preview {
    display : none;
  }

  #Sidebar_mobile_active, #Editor_mobile_active, #Preview_mobile_active{
    height : 100%;
    width : 100%;
    border : none;
    color : var(--primary-text);
    background-color : var(--secondary-bg);
    display :flex;
    flex-direction : column;
  }

}